<div cdkDropList class="l-container-list" (cdkDropListDropped)="drop($event)">
    <div class="c-container-list" *ngFor="let task of listOfTasks" cdkDrag>
        <div class="c-container-list__data">
            <h3 class="c-container-list__title">
                {{task.title}}
            </h3>
            <p class="c-container-list__description">
                {{task.description}}
            </p>
            <div class="c-buttons-group">
                <button class="c-button c-button--edit" (click)="showModal(task._id)" mat-stroked-button
                    color="primary">
                    edit
                </button>
                <button type="button" class="c-button c-button--delete" (click)="deleteTask(task._id)"
                    mat-stroked-button color="warn">
                    delete
                </button>
            </div>
        </div>
    </div>
</div>
<app-todo-edit [taskId]="taskId" (modalEvent)="reciveValue($event)" *ngIf="isVisible"></app-todo-edit>