<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let task of listOfTasks" cdkDrag>
        <div class="c-data">
            <h3 class="c-data__title">
                {{task.title}}
            </h3>
            <p class="c-data__description">
                {{task.description}}
            </p>
            <div class="c-data__options">
                <button (click)="showModal()" class="c-button c-button--edit">
                    Edit
                </button>
                <button (click)="deleteTask(task._id)" class="c-button c-button--delete">
                    delete
                </button>
            </div>
        </div>
    </div>
</div>
<app-todo-edit (modalEvent)="reciveValue($event)" *ngIf="isVisible"></app-todo-edit>