@import "share";

.l-body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

    @include responsive(small-devices) {
        align-items: center;
    }
}
.l-container {
    width: 100%;
    background-color: #ffffff;

    @include responsive(small-devices) {
        max-width: 576px;
        height: 80vh;
    }
}
.l-list {
    height: 100%;
    overflow-y: auto;
}
