.l-form {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.4);
}
.c-form {
    max-width:280px;
    width: 100%;
    background-color: #fff;
    padding: 32px;
    border-radius: 3px;

    &__heading{
        color:#673ab7;
        margin-bottom:16px;
    }

    &__box{
        width: 100%;
    }
}
  
.c-buttons-group{
    margin:12px 0 0 0;

}

.c-button--save{
    margin:0 12px 0 0;

}