<div class="l-form">
    <form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()" class="c-form">
        <h3 class="c-form__heading">
            Add task
        </h3>
        <div class="c-form__box">
            <label class="c-form__label" for="title">title</label>
            <input formControlName="title" class="c-form__input" type="text" name="title" id="title">
            <div class="c-form__validationBox" *ngIf="title.invalid && (title.dirty || title.touched)">
                <p class="c-form__validationAlert" *ngIf="title.errors.required">
                    Field value cannot be empty
                </p>
            </div>
        </div>
        <div class="c-form__box">
            <label class="c-form__label" for="description">description</label>
            <input formControlName="description" class="c-form__input" type="text" name="description" id="description">
            <div class="c-form__validationBox" *ngIf="description.invalid && (description.dirty ||description.touched)">
                <p class="c-form__validationAlert" *ngIf="description.errors.required">
                    Field value cannot be empty
                </p>
            </div>

        </div>
        <div>
            <button [disabled]="!addTaskForm.valid" class="c-button c-button--primary">add task</button>
            <button type="button" (click)="sendValue()" class="c-button c-button--secondary">close</button>
        </div>
    </form>
</div>