.l-form {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.6);
}

.c-form {
    background-color: #ffffff;
    padding: 2rem 3rem;
    border-radius: 4px;

    &__box {
        padding: 1rem 0;
    }
    &__label {
        font-size: 0.875rem;
    }
    &__input {
        display: block;
    }
}

.c-button {
    cursor: pointer;
    min-width: 40px;
    padding: 2px 4px;
    font-size: 0.875rem;
    border-radius: 4px;
    background-color: transparent;
}

.c-button--primary {
    border: 1px solid #50c9ce;
    margin-right: 8px;
}

.c-button--secondary {
    border: 1px solid #fe7a71;
}
