<div class="l-form">
    <form [formGroup]="editTaskForm" (ngSubmit)="onSubmit()" class="c-form">
        <div>
            <mat-form-field class="c-form__box">
                <mat-label>
                    Title
                </mat-label>
                <input formControlName="title" matInput placeholder="title">
            </mat-form-field>
            <mat-form-field class="c-form__box">
                <mat-label>
                    Description
                </mat-label>
                <input formControlName="description" matInput placeholder="description">
            </mat-form-field>
        </div>
        <div class="c-buttons-group">
            <button class="c-button c-button--save" [disabled]="!editTaskForm.valid" mat-raised-button color="primary">
                save
            </button>
            <button class="c-button c-button--close" type="button" (click)="sendValue()" mat-raised-button
                color="basic">
                close
            </button>
        </div>
    </form>
</div>